<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body style="height: 100%; padding: 0; margin: 0;">
        <div style="background:#f0f3f5; height: 100%; font-family: '微软雅黑';">
            <div style="background:#1ad2a7; height: 280px;">
                <div style="width:580px; height: 45px; margin: 0px auto; padding-top: 30px;">
                   <div style="width: 145px; height: 45px; float: left;">
                   <a href="http://localhost:8080/">    
                       <img src="http://tradehelp-dev.oss-cn-shenzhen.aliyuncs.com/static/email/logo.png" width="100%" height="100%"/>
                   </a>
                   </div>
                   <div style="float: right; font-size: 16px; padding-top: 10px;">
                       <a style="color: #fff; text-decoration: none;" href="http://localhost:8080/">首页</a>
                       <span style="margin: 0px 5px; display: inline-block; vertical-align: middle; margin-top: -3px; background: #fff; height: 17px; width: 1px;"></span>
                       <a style="color: #fff; text-decoration: none;" href="#">简历管理</a>
                   </div>
                </div>
            </div>
            <div style="width:480px; color:#333; font-size: 14px; padding: 20px 50px; margin:-170px auto 0px; background: #fff;">
                <p style="line-height:2;">亲爱的小伙伴，你的订单已开通并生效，欢迎使用帮手网+，<br>
                                          以下是订单详情：</p>
                <div style="border: 1px solid #00b38a; padding:10px 25px; padding-bottom: 20px;">
                    <p style="font-size: 18px;">产品：VIP版</p>
                    <p style="line-height:1.8;">1. 职位量：100个在线职位量，1000个职位发布量<br>
                    2. 沟通&PLUS邀约：每个账号100人(次)/天<br>
                    3. 职位权重提升<br>
                    4. 企业高级管理员权限<br>
                    5. 职位刷新频次：1天1次</p>
                    <p style="color: #00B38A;">有效期：1年(截止2017-06-26 16:00)</p>
                    <a style="width:146px; height:40px; display: block; border-radius:3px; text-decoration: none; color:#fff; background:#00b38a; line-height: 40px; text-align: center;" href="#">立即体验</a>
                </div>
                <div style="border-top:1px solid #f0f3f5; line-height: 1.5; margin-top: 30px; font-size: 12px; color:#b9b9b9;">
                    <p>如有任何问题，可以与我们联系，我们将尽快为你解答。<br>Email：slfsdf@sdfdf.com ，电话：400-xxxxx</p>
                </div>
            </div>
            <p style="line-height: 70px; text-align: center; color:#b9b9b9; font-size: 12px;">如果您不愿意继续接受此类邮件，可点击退订。</p>
        </div>
    </body>
</html>
