<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body style="height: 100%; padding: 0; margin: 0;">
        <div style="background:#f0f3f5; height: 100%; font-family: '微软雅黑';">
            <div style="background:#1ad2a7; height: 280px;">
                <div style="width:580px; height: 45px; margin: 0px auto; padding-top: 30px;">
                   <div style="width: 145px; height: 45px; float: left;">
                   <a href="http://localhost:8080/">    
                       <img src="http://tradehelp-dev.oss-cn-shenzhen.aliyuncs.com/static/email/logo.png" width="100%" height="100%"/>
                   </a>
                   </div>
                   <div style="float: right; font-size: 16px; padding-top: 10px;">
                       <a style="color: #fff; text-decoration: none;" href="http://localhost:8080/">首页</a>
                       <span style="margin: 0px 5px; display: inline-block; vertical-align: middle; margin-top: -3px; background: #fff; height: 17px; width: 1px;"></span>
                       <a style="color: #fff; text-decoration: none;" href="#">简历管理</a>
                   </div>
                </div>
            </div>
            <div style="width:480px; color:#333; font-size: 14px; padding: 20px 50px; margin:-170px auto 0px; background: #fff;">
                <p>外贸帮手网的小伙伴，你好，</p>
                <p>你正在请求修改邮箱，请在 30 分钟内输入<span style="color:#00B38A;">以下验证码</span>完成绑定。<br>
                                          如非你本人操作，请忽略此邮件。</p>
                <div style="border-top:1px solid #f0f3f5; line-height: 1.5; margin-top:10px; padding:20px 0px;">
                    <span style="background:#f0f3f5; width: 110px; height: 36px; line-height: 36px; display: block; text-align: center;">ABCDEF</span>
                </div>
                <div style="border-top:1px solid #f0f3f5; line-height: 1.5; margin-top:10px; font-size: 12px; color:#b9b9b9;">
                    <p>如有任何问题，可以与我们联系，我们将尽快为你解答。<br>Email：slfsdf@sdfdf.com ，电话：400-xxxxx</p>
                </div>
            </div>
            <p style="line-height: 70px; text-align: center; color:#b9b9b9; font-size: 12px;">如果您不愿意继续接受此类邮件，可点击退订。</p>
        </div>
    </body>
</html>
