<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body style="height: 100%; padding: 0; margin: 0;">
        <div style="background:#f0f3f5; height: 100%; font-family: '微软雅黑';">
            <div style="background:#1ad2a7; height: 280px;">
                <div style="width:580px; height: 45px; margin: 0px auto; padding-top: 30px;">
                   <div style="width: 145px; height: 45px; float: left;">
                   <a href="http://localhost:8080/">    
                       <img src="http://tradehelp-dev.oss-cn-shenzhen.aliyuncs.com/static/email/logo.png" width="100%" height="100%"/>
                   </a>
                   </div>
                   <div style="float: right; font-size: 16px; padding-top: 10px;">
                       <a style="color: #fff; text-decoration: none;" href="http://localhost:8080/">首页</a>
                       <span style="margin: 0px 5px; display: inline-block; vertical-align: middle; margin-top: -3px; background: #fff; height: 17px; width: 1px;"></span>
                       <a style="color: #fff; text-decoration: none;" href="#">简历管理</a>
                   </div>
                </div>
            </div>
            <div style="width:480px; color:#333; font-size: 14px; padding: 20px 50px; margin:-170px auto 0px; background: #fff;">
                <p><strong>外贸帮手网</strong> 的 <strong>李明建</strong>，你好!</p>
                <p>你已成功与李明建预约面试，详情如下：</p>
                <p><strong>面试职位：</strong><a style="color:#00b38a;" href="#">前端工程师</a></p>
                <p><strong>面试时间：</strong><span style="color:#00b38a;">2017-06-30 12:21</span></p>
                <p><strong>面试地点：</strong>深圳市龙岗区</p>
                <div style="border: 1px solid #00b38a; padding:10px 25px; padding-bottom: 20px;">
                    <p style="font-size: 18px;">李明建的简历</p>
                    <p><span style="color:#00b38a;">李明建</span><span> | </span>男<span> | </span>本科<span> | </span>1年工作经验<span> | </span>深圳</p>
                    <p><strong>毕业学校</strong>:本科· 湖南工程学院</p>
                    <p><strong>最近工作</strong>:前端工程师 · 深圳灸大夫</p>
                    <p><strong>目前状态</strong>:我已离职，可快速到岗</p>
                    <a style="width:146px; height:40px; display: block; border-radius:3px; text-decoration: none; color:#fff; background:#00b38a; line-height: 40px; text-align: center;" href="#">查看完整简历</a>
                </div>
                <div style="border-top:1px solid #f0f3f5; line-height: 1.5; margin-top: 30px; font-size: 12px; color:#b9b9b9;">
                    <p>如有任何问题，可以与我们联系，我们将尽快为你解答。<br>Email：slfsdf@sdfdf.com ，电话：400-xxxxx</p>
                </div>
            </div>
            <p style="line-height: 70px; text-align: center; color:#b9b9b9; font-size: 12px;">如果您不愿意继续接受此类邮件，可点击退订。</p>
        </div>
    </body>
</html>
