<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body style="height: 100%; padding: 0; margin: 0;">
        <div style="background:#f0f3f5; height: 100%; font-family: '微软雅黑';">
            <div style="background:#1ad2a7; height: 280px;">
                <div style="width:580px; height: 45px; margin: 0px auto; padding-top: 30px;">
                   <div style="width: 145px; height: 45px; float: left;">
                   <a href="http://localhost:8080/">    
                       <img src="http://tradehelp-dev.oss-cn-shenzhen.aliyuncs.com/static/email/logo.png" width="100%" height="100%"/>
                   </a>
                   </div>
                   <div style="float: right; font-size: 16px; padding-top: 10px;">
                       <a style="color: #fff; text-decoration: none;" href="http://localhost:8080/">首页</a>
                       <span style="margin: 0px 5px; display: inline-block; vertical-align: middle; margin-top: -3px; background: #fff; height: 17px; width: 1px;"></span>
                       <a style="color: #fff; text-decoration: none;" href="#">简历管理</a>
                   </div>
                </div>
            </div>
            <div style="width:480px; color:#333; font-size: 14px; padding: 20px 50px; margin:-170px auto 0px; background: #fff;">
                <p><strong>公司名字 : </strong><a href="#" style="color:#00B38A;">外贸帮手网</a></p>
                <p><strong>沟通职位 : </strong><a href="#" style="color:#00B38A;">前端工程师</a></p>
                <div style="border-top:1px solid #f0f3f5; line-height: 1.5; margin-top:10px; padding: 10px 0px;">
                    <p style="line-height:1.8;">外贸帮手网邀请你<a style="color:#00B38A;" href="#">投递简历</a>，查看消息详情请<a style="color:#00B38A;" href="#">点击这里</a>，<br>
                                                    或复制以下链接到浏览器地址栏中打开：<br>
                    <a style="color:#00B38A;" href="#">http://dddddddddd</a></p>
                </div>
                <div style="border-top:1px solid #f0f3f5; line-height: 1.5; margin-top:10px; font-size: 12px; color:#b9b9b9;">
                    <p>如有任何问题，可以与我们联系，我们将尽快为你解答。<br>Email：slfsdf@sdfdf.com ，电话：400-xxxxx</p>
                </div>
            </div>
            <p style="line-height: 70px; text-align: center; color:#b9b9b9; font-size: 12px;">如果您不愿意继续接受此类邮件，可点击退订。</p>
        </div>
    </body>
</html>
